---
fullnameOverride: argocd-{{ environment }}

configs:
  params:
    server.insecure: true

server:
  secret:
    argocdServerAdminPassword: "{{ argocdAdminPassword }}"
  service:
    type: NodePort
  config:
    kustomize.buildOptions: "--enable-alpha-plugins --enable-exec"

repoServer:
  serviceAccount:
    annotations:
      iam.gke.io/gcp-service-account: pub-svcs-ksops-prod@public-services-402810.iam.gserviceaccount.com
  env:
    - name: XDG_CONFIG_HOME
      value: /.config
  volumes:
    - name: custom-tools
      emptyDir: {}
  initContainers:
    - name: install-ksops
      image: viaductoss/ksops:v4
      imagePullPolicy: Always
      command:
        - "/bin/sh"
        - "-c"
      args:
        - echo "Installing KSOPS...";
          mv /usr/local/bin/ksops /custom-tools/;
          mv /usr/local/bin/kustomize /custom-tools/;
          echo "Done.";
      volumeMounts:
        - mountPath: /custom-tools
          name: custom-tools
  volumeMounts:
    - mountPath: /usr/local/bin/kustomize
      name: custom-tools
      subPath: kustomize
    - mountPath: /usr/local/bin/ksops
      name: custom-tools
      subPath: ksops

redis:
  serviceAccount:
    create: true
