# general configuration
global
    log /dev/log local0
    log /dev/log local1 notice
    chroot /var/lib/haproxy
    user haproxy
    group haproxy
    maxconn 4096
    ssl-server-verify none
    daemon

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 2s
    timeout client 300s
    timeout server 300s

# proxies
{% for proxy in proxies %}
# proxy: {{ proxy.name }}
frontend {{ proxy.name }}
    bind *:{{ proxy.port }}
    default_backend {{ proxy.name }}

backend {{ proxy.name }}
    server backend-{{ proxy.name }} {{ proxy.target }} check inter 2000 rise 2 fall 3 resolvers internal
{% endfor %}

# dns resolver
resolvers internal
    parse-resolv-conf
    hold valid 1h
    hold nx 30s
