57 3 * * * root GOOGLE_APPLICATION_CREDENTIALS=/opt/edge/credentials.json CLOUDSDK_CORE_PROJECT={{ project }} /var/acme/home/acme.sh --cron --home /var/acme/home --config-home /var/acme/config > /dev/null
