---
apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ certificateAuthority }}
    server: https://{{ endpoint }}
  name: {{ name }}
contexts:
- context:
    cluster: {{ name }}
    user: {{ name }}
  name: {{ name }}
current-context: {{ name }}
kind: Config
preferences: {}
users:
- name: {{ name }}
  user:
    exec:
      apiVersion: client.authentication.k8s.io/v1beta1
      command: gke-gcloud-auth-plugin
      installHint: Install gke-gcloud-auth-plugin for use with kubectl by following
        https://cloud.google.com/blog/products/containers-kubernetes/kubectl-auth-changes-in-gke
      provideClusterInfo: true
